<!DOCTYPE html>
{%extends 'blogapp/base.html'%}
{%block title %}ERROR HANDLING BLOG {%endblock%}
{%block content%}
<h1><b>ERROR HANDLING BLOG </b></h1>
{%if tag%}
<h2>Posts tagged with "{{tag.name}}"</h2>
 {%endif%}
 {%for post in post_list %}
 <h2> <a href="{{post.get_absolute_url}}">{{post.title}}</a> </h2>
 <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
 <p>Recommended::
   {%for tag in post.tags.all %}

<a href="{%url 'post_list_by_tag_name' tag.slug %}" class='btn btn-primary active'>{{tag.name}}</a>&nbsp&nbsp

   {%endfor%}
 </p>

 {{post.body|truncatewords:40|linebreaks}}
{%endfor%}
{% include 'blogapp/pagenation.html' with page=post_list%}
{%endblock%}
